@charset "UTF-8";
/* CSS Document */
html, body {
	font-family: 'Roboto', sans-serif;
}
#vehicles {
	width: 73%;
	display: inline-block;
	float: left;
	margin-left: 25px;
}
.vehicle-info {
	position: relative;
	display: inline-block;
	float: left;
	width: 27%;
	margin: 0 1% 10px 1%;
	
	border: 2px solid #0CF;
	border-radius: 5px;
	padding: 10px;
	padding-left: 15px;
	
	-webkit-box-shadow: 10px 10px 5px 0px rgba(26,19,64,0.35);
	-moz-box-shadow: 10px 10px 5px 0px rgba(26,19,64,0.35);
	box-shadow: 10px 10px 5px 0px rgba(26,19,64,0.35);
}
.avatar-container {
	position: absolute;
	top: 30px;
	right: 10px;
	width: 60px;
	height: 60px;
	text-align: center;
	border: 1px solid #0CF;
	border-radius: 60px;
	overflow: hidden;
	background: rgb(177,216,245);
	background: -moz-linear-gradient(top,  rgba(177,216,245,1) 0%, rgba(190,228,248,1) 25%, rgba(200,238,251,1) 46%, rgba(230,248,253,1) 70%, rgba(253,255,255,1) 88%, rgba(225,255,255,1) 88%, rgba(225,255,255,1) 93%, rgba(225,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(177,216,245,1)), color-stop(25%,rgba(190,228,248,1)), color-stop(46%,rgba(200,238,251,1)), color-stop(70%,rgba(230,248,253,1)), color-stop(88%,rgba(253,255,255,1)), color-stop(88%,rgba(225,255,255,1)), color-stop(93%,rgba(225,255,255,1)), color-stop(100%,rgba(225,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(177,216,245,1) 0%,rgba(190,228,248,1) 25%,rgba(200,238,251,1) 46%,rgba(230,248,253,1) 70%,rgba(253,255,255,1) 88%,rgba(225,255,255,1) 88%,rgba(225,255,255,1) 93%,rgba(225,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(177,216,245,1) 0%,rgba(190,228,248,1) 25%,rgba(200,238,251,1) 46%,rgba(230,248,253,1) 70%,rgba(253,255,255,1) 88%,rgba(225,255,255,1) 88%,rgba(225,255,255,1) 93%,rgba(225,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(177,216,245,1) 0%,rgba(190,228,248,1) 25%,rgba(200,238,251,1) 46%,rgba(230,248,253,1) 70%,rgba(253,255,255,1) 88%,rgba(225,255,255,1) 88%,rgba(225,255,255,1) 93%,rgba(225,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(177,216,245,1) 0%,rgba(190,228,248,1) 25%,rgba(200,238,251,1) 46%,rgba(230,248,253,1) 70%,rgba(253,255,255,1) 88%,rgba(225,255,255,1) 88%,rgba(225,255,255,1) 93%,rgba(225,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d8f5', endColorstr='#e1ffff',GradientType=0 );

}
.avatar {
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	max-width: 60px;
}

