@charset "UTF-8";
/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
strong {
	font-size: 1.1em;	
}
.trips {
	padding-left: 120px;
}
.trip {
	float: left;
	padding: 10px;
	padding-left: 20px;
	margin: 20px;
	border: 2px solid #0CF;
	border-radius: 10px;
	width: 25%;	
	
	-webkit-box-shadow: 10px 10px 5px 0px rgba(26,19,64,0.35);
	-moz-box-shadow: 10px 10px 5px 0px rgba(26,19,64,0.35);
	box-shadow: 10px 10px 5px 0px rgba(26,19,64,0.35);
	
	background: -moz-linear-gradient(-45deg,  rgba(254,255,255,1) 0%, rgba(254,255,255,0.73) 39%, rgba(221,241,249,0.45) 80%, rgba(160,216,239,0.32) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(39%,rgba(254,255,255,0.73)), color-stop(80%,rgba(221,241,249,0.45)), color-stop(100%,rgba(160,216,239,0.32)));
	background: -webkit-linear-gradient(-45deg,  rgba(254,255,255,1) 0%,rgba(254,255,255,0.73) 39%,rgba(221,241,249,0.45) 80%,rgba(160,216,239,0.32) 100%);
	background: -o-linear-gradient(-45deg,  rgba(254,255,255,1) 0%,rgba(254,255,255,0.73) 39%,rgba(221,241,249,0.45) 80%,rgba(160,216,239,0.32) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(254,255,255,1) 0%,rgba(254,255,255,0.73) 39%,rgba(221,241,249,0.45) 80%,rgba(160,216,239,0.32) 100%);
	background: linear-gradient(135deg,  rgba(254,255,255,1) 0%,rgba(254,255,255,0.73) 39%,rgba(221,241,249,0.45) 80%,rgba(160,216,239,0.32) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#52a0d8ef',GradientType=1 );
}
.trip h2 {
	display: inline-block;
	border-bottom: 1px solid #1a1340;	
}
.trip p {
	width: auto;
	margin: 5px;
	padding-bottom: 2px;
}
.trip p:last-of-type {
	border: none;	
}
.hidden {
	display: none;
}
.delete {
	margin-top: 10px;	
}
.error {
	text-align: center;	
}
.error h2 {
	margin-top: -50px;
	background: #C36;
	color: #fff;	
}